<p class="card-title">Add Card</p>
<form class="new-card">

  <input type="text" class="input-text card-title" name="card[title]">

  <input type="submit" class="submit-button" value="Add Card">

</form>
